.navbar {
    width: 100%;
    padding: 3rem 0;
    box-sizing: border-box;
    background-color: transparent;

    & ul {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-right: auto;
        gap: 1rem;
        letter-spacing: 1px;
        color: $color-grey-dark;
        cursor: pointer;
        transition: all 0.1s;

        &:hover {
            color: $color-blue-green;
        }

        & span {
            font-weight: 300;
            font-size: 2.5rem;
        }

        & img {
            width: 4rem;
            color: $color-grey-dark;
            filter: $color-blue-green-svg;
        }
    }

    & a {
        color: $color-grey-dark;
        font-size: 1.5rem;
        text-decoration: none;
        transition: all 0.1s;

        &:hover {
            color: $color-blue-green;
        }
    }

    &__logout {
        background: transparent;
        padding: 0.8rem 1.2rem;
        border-radius: 0.4rem;
        border: 0.1rem solid $color-blue-green;
        color: $color-blue-green;
        cursor: pointer;
        font-size: 1.6em;
        transition: all 0.2s;

        &:hover {
            background-color: $color-blue-green;
            color: $color-white;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}
