.signup {
    font-size: 1.6rem;

    &__form {
        max-width: 30rem;
        margin: 6rem auto;
        padding: 2rem;

        & h2 {
            letter-spacing: 0.2rem;
            color: $color-blue-green;
            text-align: center;
        }

        & label {
            display: block;
            margin: 2.5rem auto;
            background-color: #fff;
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.217) 0 0.1rem 0.4rem;
        }

        & span {
            display: block;
            letter-spacing: 0.2rem;
            margin-left: 0.6rem;
            font-size: 1.6rem;
        }

        & input {
            font-size: 1.6rem;
            color: $color-blue-navy;
            border: none;
            width: 90%;
            transition: all 0.1s;

            &::placeholder {
                color: $color-teal;
            }

            &:focus {
                outline: none;
            }
        }

        & input[type="file"] {
            display: none;
        }
    }

    &__file {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid $color-teal;
        border-radius: 0.5rem;
        color: $color-teal;
        cursor: pointer;
        transition: all 0.2s;

        & img {
            filter: $color-teal-svg;
        }

        &:hover {
            color: $color-white;
            background-color: $color-blue-green;

            & img {
                filter: $color-white-svg;
            }
        }

        &--name {
            color: $color-blue-navy;
            display: flex;
            justify-content: end;
        }
    }
}
